<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName="$(fileVersion.ProductName($(var.Hydro$ense.TargetPath)))"?>
  <?define ProductVersion="$(fileVersion.ProductVersion($(var.Hydro$ense.TargetPath)))"?>
  <?define ProductGUID="43383D9A-6D70-4687-B468-C1E379790794"?>
	<Product Id="$(var.ProductGUID)" 
           Name="$(var.ProductName) $(var.ProductVersion)" 
           Language="1033" 
           Version="$(var.ProductVersion)"
           Manufacturer="Bureau of Reclamation"
           UpgradeCode="$(var.ProductGUID)">
    
		<Package Id="$(var.ProductGUID)" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!--Ensure that .net 3.5 is installed-->
    <PropertyRef Id="NETFRAMEWORK35"/>
    <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK35]]>
    </Condition>

    <!--Embed cab file into msi-->
    <MediaTemplate EmbedCab="yes"/>

    <!--Property to conditionally install desktop shortcut-->
    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1"/>

    <!--Set Icon and Add/Remove Programs Icon-->
    <Icon Id="Icon" SourceFile="$(var.Hydro$ense.ProjectDir)Hydro$ense.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon"/>

    <!--Directories where we will put stuff-->
    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--Install folder-->
      <Directory Id="WINDOWSVOLUME">
        <?if $(sys.BUILDARCH)=x64?>
        <Directory Id="ProgramFiles64Folder">
          <?else?>
          <Directory Id="ProgramFilesFolder">
            <?endif?>
            <Directory Id="INSTALLDIR" Name="Hydro$ense">
              <Directory Id="FilesDir" Name="$(var.ProductName) $(var.ProductVersion)"/>
            </Directory>
            <?if $(sys.BUILDARCH)=x64?>
          </Directory>
          <?else?>
        </Directory>
        <?endif?>
      </Directory>

      <!--Start menu folder-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuSubfolder" Name="$(var.ProductName)">
          <Directory Id="ProgramMenuInstallFolder" Name="$(var.ProductName) $(var.ProductVersion)">
            <Directory Id="ProgramMenuInstallDocFolder" Name="Documentation"/>
            <Directory Id="ProgramMenuInstallExampleFolder" Name="Examples"/>
          </Directory>
        </Directory>
      </Directory>

      <!--Desktop folder-->
      <Directory Id="DesktopFolder"/>
    </Directory>

    <!--Start menu program shortcut-->
    <DirectoryRef Id="ProgramMenuInstallFolder">
      <Component Id="HydroSenseStartMenuShortcuts">
        <CreateFolder Directory="ProgramMenuSubfolder"/>
        <CreateFolder Directory="ProgramMenuInstallFolder"/>
        <CreateFolder Directory="ProgramMenuInstallDocFolder"/>
        <CreateFolder Directory="ProgramMenuInstallExampleFolder"/>
        <Shortcut Id="ProgramShortcut"
                  Name="$(var.ProductName) $(var.ProductVersion)"
                  Description="Hydro-Economic Net Benefit Maximizer"
                  Target="[FilesDir]$(var.Hydro$ense.TargetFileName)"
                  WorkingDirectory="FilesDir"
                  Icon="Icon">
        </Shortcut>
        <Shortcut Id="HowToShortcut"
                  Name="Hydro$ense How To Manual.pdf"
                  Directory="ProgramMenuInstallDocFolder"
                  Target="[FilesDir]Hydro$ense How To Manual.pdf"
                  WorkingDirectory="FilesDir">
        </Shortcut>
        <Shortcut Id="ReadMeShortcut"
                  Name="README.rtf"
                  Directory="ProgramMenuInstallDocFolder"
                  Target="[FilesDir]README.rtf"
                  WorkingDirectory="FilesDir">
        </Shortcut>
        <Shortcut Id="ExampleSpreadsheet"
                  Name="ExampleInput.xlsx"
                  Directory="ProgramMenuInstallExampleFolder"
                  Target="[FilesDir]ExampleInput.xlsx"
                  WorkingDirectory="FilesDir">
        </Shortcut>
        <RegistryValue Root="HKCU"
                       Key="Software\Hydro$sense\$(var.ProductName) $(var.ProductVersion)"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes">
        </RegistryValue>
        <RemoveFolder Id="RemoveProgramMenuSubfolder" Directory="ProgramMenuSubfolder" On="uninstall"/>
        <RemoveFolder Id="RemoveProgramMenuInstallFolder" Directory="ProgramMenuInstallFolder" On="uninstall"/>
        <RemoveFolder Id="RemoveProgramMenuInstallDocFolder" Directory="ProgramMenuInstallDocFolder" On="uninstall"/>
        <RemoveFolder Id="RemoveProgramMenuInstallExampleFolder" Directory="ProgramMenuInstallExampleFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <!--Desktop shortcut-->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="HydroSenseShortcutDesktop">
        <Condition>INSTALLDESKTOPSHORTCUT</Condition>
        <Shortcut Id="HydroSenseDesktopShortcut"
                  Name="$(var.ProductName) $(var.ProductVersion)"
                  Description="Hydro-Economic Net Benefit Maximizer"
                  Target="[FilesDir]$(var.Hydro$ense.TargetFileName)"
                  WorkingDirectory="FilesDir"
                  Icon="Icon">
        </Shortcut>
        <RegistryValue Root="HKCU"
                       Key="Software\Hydro$ense\DesktopShortcut\$(var.ProductName) $(var.ProductVersion)"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes">
        </RegistryValue>
        <RemoveFolder Id="HydroSenseShortcutDesktop" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <!--Required files and libraries-->
    <ComponentGroup Id="HydroSenseComponents" Directory="FilesDir">
      <!--Main projects required by Hydro$ense-->
      <Component Id="HydroSense">
        <File Source="$(var.Hydro$ense.TargetPath)"/>
      </Component>
      <!--Additional files-->
      <Component Id="License">
        <File Source="$(var.SolutionDir)License.rtf"/>
      </Component>
      <Component Id="Readme">
        <File Source="$(var.Hydro$ense.TargetDir)README.rtf"/>
      </Component>
      <Component Id="InputExample">
        <File Source="$(var.SolutionDir)ExampleInput.xlsx"/>
      </Component>
      <Component Id="HowTo">
        <File Source="$(var.SolutionDir)Documentation/Hydro$ense How To Manual.pdf"/>
      </Component>
      <Component Id="SharpZipLib">
        <File Source="$(var.Hydro$ense.TargetDir)ICSharpCode.SharpZipLib.dll"/>
      </Component>
      <Component Id="NPOI">
        <File Source="$(var.Hydro$ense.TargetDir)NPOI.dll"/>
      </Component>
      <Component Id="NPOI_OOXML">
        <File Source="$(var.Hydro$ense.TargetDir)NPOI.OOXML.dll"/>
      </Component>
      <Component Id="NPOI_OpenXml4net">
        <File Source="$(var.Hydro$ense.TargetDir)NPOI.OpenXml4Net.dll"/>
      </Component>
      <Component Id="NPOI_OpenXmlFormats">
        <File Source="$(var.Hydro$ense.TargetDir)NPOI.OpenXmlFormats.dll"/>
      </Component>
    </ComponentGroup>

    <!--UI Installer Configuration-->
    <Property Id="WIXUI_INSTALLDIR" Value="FilesDir"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)License.rtf"/>
    <UI Id="Hydro$enseInstallerUI">
      <UIRef Id="Custom_WixUI_InstallDir"/>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">2</Publish>
      <Publish Dialog="Custom_InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">3</Publish>
    </UI>

    <!--Add all components to Hydro$ense-->
    <Feature Id="HydroSenseFeature" Title="HydroSenseSetup" Level="1">
      <ComponentGroupRef Id="HydroSenseComponents" />
      <ComponentRef Id="HydroSenseStartMenuShortcuts"/>
      <ComponentRef Id="HydroSenseShortcutDesktop"/>
    </Feature>
    
	</Product>
</Wix>